html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: var(--PRIMARY);
    text-align: center;
}



// color variables
:root {
    --PRIMARY: #1876D1;
    --SECONDARY: #FFFFFF;
    --BG: #011E3C;
    --TEXT: #B1BAC2;
    --DARK: #0B1929;
    --OPTIONAL: #132F4C;

}

// Default Styles

h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: clamp(2.625rem, 1.2857rem + 3.5714vw, 4rem);
    font-weight: 800;
    line-height: 1.11429;
    color: var(--SECONDARY);
}

h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
    font-weight: 800;
    line-height: 1.22222;
    color: var(--DARK);
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0px;
    color: var(--DARK);
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0px;
    color: var(--PARAGRAPH);
}

small {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0px;
    color: var(--PARAGRAPH);
}

.css-1t6c9ts {
    justify-content: flex-end;
}